APP_NAME="C69 System"
APP_ENV=local
APP_KEY=base64:4KlXG++/L1EA0cJTHWRqqcp2/mg/glTRIJKz2ITX8Cc=
APP_DEBUG=true
APP_URL=http://localhost/c69

LOG_CHANNEL=single

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=c69
DB_USERNAME=root
DB_PASSWORD=localhost

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=romoka@strathmore.edu
MAIL_PASSWORD=kpoquxrkolldtllx
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=romoka@strathmore.edu
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
SENTRY_LARAVEL_DSN=https://8a3df0e2f6db4db087a4c4c92bbdb6db@sentry.io/1413701

JWT_SECRET=KqINOaK1elT8wFMKkOrwsVJDWwJNQsMISzyMwEsfr0rz0l7HjblFLni6WfwzUf6z